<style>
  .pic img{
    width:100%;
    height:auto;
  }

  .select{background:green}

  .custom-atc{
    padding: 0 80px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
  }
  
  .imgandttlprc{
    width: 100%;
    height: auto;
  }

  .imgandttlprc p{
    font-size: 19px;
    font-weight: 600;
  }
  
  .pic{
    width:100%;
    height:auto;
  }
  .atcbtn span{
    border: 1px solid brown;
    width: max-content;
    padding: 1%;
    font-size: 17px;
    color: #000;
    font-weight: bolder;
    display: block;
  }
  .atcbtn{
    margin: 36px 0px;
    width:max-content;
  }
  .ttlandprc{
    display: flex;
    gap: 6%;
    width: 60%;
    padding: 0 12px;
  }
  .ttlandprc p{
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }

  .custom-multi-grid{
    display: flex;
    justify-content: center;
  }

  .custom-multi-grid p{
        margin: 0 6%;
    cursor:pointer;
  }

  @media(max-width:768px){
      .custom-atc{
    padding: 0 33px;
    grid-template-columns: 1fr;
    display: grid;
  }
  .pic{
    width:100%;
    height:auto;
  }
    .imgandttlprc p {
    font-size: 16px;
    font-weight: 600;
}
    .ttlandprc {
      width:100%;
    }
    .ttlandprc p {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    }
    .atcbtn span {
    padding: 3%;
    font-size: 13px;
    }
    .atcbtn {
    margin: 19px 0px;
    }

    .custom-multi-grid{
      display:none;
    }
  }
</style>
{% assign prod = settings.prodcollc %}

  <div class="custom-multi-grid">
    <p class="og">Two grid</p>
    <p class="tg">Three grid</p>
  </div>
<div class="custom-atc custom-atc-{{ section.id }}">
  <!-- <p>{{ prod.title }}</p> -->
  {% for product in prod.products limit:6 %}
    {% assign prodpic = product.media[0] %}
  <div class="imgandttlprc">
    <div class="pic">
      <img src="{{ prodpic.src | img_url:"" }}"
        loading="lazy"
        alt="alt"
        height="{{ product.featured_image.height }}"
        width="{{ product.featured_image.width }}">
    </div>
    {% if protag contains 'tag' %}
      {% for tags in protag %}
        {% if tags contains 'tag'%}
              <span>{{ tags | remove: 'tag_' | upcase}}</span>
          {% endif %}
      {% endfor %}
      {% endif %}
      {% comment %}<p class="ttl" varnt="{{ product.id }}">{{ product.title }}</p>{% endcomment %}
     {% comment %} <p class="prc" var="{{product.id}}">{{ product.price | money_with_currency}}</p>{% endcomment %}
    <p>{{ product.title }}</p>
    {% if product.variants.size > 1 %}
        {% for variant in product.variants %}
          <div class="ttlandprc">
            <p class="ttl" varnt="{{ variant.id }}">{{ variant.title }}</p>

          <p class="prc" var="{{variant.id}}">{{ variant.price | money_with_currency}}</p>
 </div>
    {% endfor %}
    {% else %}

    <div class="ttlandprc">
            <p class="ttl" varnt="{{ product.selected_or_first_available_variant.id }}">{{ product.selected_or_first_available_variant.title }}</p>

          <p class="prc" var="{{product.selected_or_first_available_variant.id}}">{{ product.selected_or_first_available_variant.price | money_with_currency}}</p>
   </div>
    
      {% endif %}
   
    <div class="atcbtn">
      <span>Add in cart</span>
    </div>
  </div>
  {% endfor %}
</div>

<script>
document.querySelector(".custom-multi-grid .og").addEventListener('click',()=>{
    document.querySelector(".custom-atc").style.gridTemplateColumns = "1fr 1fr"
})

  document.querySelector(".custom-multi-grid .tg").addEventListener('click',()=>{
    document.querySelector(".custom-atc").style.gridTemplateColumns = "1fr 1fr 1fr"
})
</script>
<script>
let a;
document.querySelectorAll('.imgandttlprc').forEach(p=>{

p.querySelectorAll('.ttlandprc').forEach((varian) => {
    varian.addEventListener('click', function () {
        p.querySelectorAll('.ttlandprc').forEach((otherVarian) => {
            otherVarian.style.background = ""; 
        });

        a = varian.querySelector('.prc').getAttribute('var');
        console.log(a);
        varian.style.background = "blue";
    });
});

p.querySelector('.atcbtn').addEventListener('click', function () {
    if (a) {
        let itemToAdd = {
                "id": a,
                "quantity": 1
        };

        fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(itemToAdd)
        })
        .then(response => response.json())
        .then(data => console.log(data)
                 document.querySelector('cart-drawer').classList.add('active')
        .catch(error => console.error('Error:', error));

    } else {
        console.error("No 'var' attribute found. Make sure you clicked on an element with class 'ttlandprc'.");
    }
    });
  })

</script>
{% schema %}
  {
    "name": "custom-atc",
    "settings": [
      
    ],
    "presets":[
      {
      "name":"custom-atc"
      }
    ]
  }
{% endschema %}